body{
    background-color: rgb(36, 226, 217);
    color: white;
}
.calculadora{
 background-color: rgb(108, 196, 199);   
 padding: 8px;
 width: 220px;
 text-align: center;
 border-radius: 10px;
}
.display_calc {
    background-color: black;
    color: magenta;
}
#resultado {
    padding: 2px;
    background-color: blanchedalmond;
    color: magenta;
    text-align: right;
}
button {
    width: 40px;
    height: 40px;
}
btn_igual {
    
